.container7{
  width: 360px;
}

.title7{
  font-size: 20px;
  font-weight: 700;
  color: black;
  padding: 40px 127px  9px 30px;
  margin-bottom: 10px;
}

.box7{
  margin-top: 30px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 30px;
  width: 350px;
  height: 574px;

}
.hr-style{
  background: #d9d9d9;
  height: 0.5px;
  border: none;
  width: 300px;
  display: flex;
}
.content7 {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
 
  margin: 22px 132px 0 30px;
}

.date{
  font-size: 16px;
font-weight: 400;
margin: 15px 0 0 30px;

}
#snow-img{
  width: 240px;
  height: 229px;
  margin: 42px 55px 0 55px;
  border-radius: 10px;

}