.li-style input[type="text"],
.li-style input[type="datetime-local"],
.li-style input[type="file"] {
  width: 350px; 
  height: 45px;
  padding: 12px 16px ;
  background: rgba(73, 190, 183, 0.16);
  border: 1px solid #49BEB7; 
  border-radius: 8px; 
  box-sizing: border-box; 
  margin-bottom: 10px;
  font-size: 15px;
}


.li-style textarea {
  width: 350px;
  padding: 12px 16px ; 
  background: rgba(73, 190, 183, 0.16);
  border: 1px solid #49BEB7; 
  border-radius: 8px; 
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 15px;
}
.li-style{
  list-style-type: none;
}
.record-title{
  font-size: 26px;
  color: black;
  margin-bottom: 20px;
}
.li-style ul{
  position: relative;
}
.write-finish1 input[type="submit"]{
  position: absolute;
  margin-top: 150px;
  
  display: flex;
  width: 353.654px;
  height: 60px;
  padding: 17.304px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: #49BEB7;
  border: none;
  margin-left: 15px;
  font-size: 19px;
  
}
.li-style li{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; 
  
}
ul.li-style {
  margin: 0; /* 외부 마진 제거 */
  padding: 15px; /* 외부 패딩 제거 */
}
.li-style label {
  margin-bottom: 5px; /* Adjust the spacing between the label and the input/textarea */
}
