#container8{
  width: 434px;
}
.user{
  display: flex;
  align-items: center;
}
.user p{
  color: #000;
  text-align: left;
  
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.261px; 
  letter-spacing: 0.16px;
}
#img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 20px 10px;
}
#simg{
  width: 434px;
  height: 330px;
}

.title8{
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0px 12px 19px;
  padding: 0;
}

.content8{
  color: #6C757D;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.16px;
  margin: 15px 0 0 19px;
}

.line{
  background: #d9d9d9;
  height: 3px;
  border: none;
  width: 434px;
  display: flex;
}

.content-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 27px;
}
.content-container p{
  margin: 0 0 19px 19px;
  
}
.like-num{
  color: #FE0135;
  font-size: 18px;
}
.like-button{
  width: 26px;
  height: 26px;
}

.write-button{
  box-sizing: border-box;
  float: right;
  margin-top: 70px;
  width: 140px;
  height: 68px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 400;
line-height: 24px;
  color: #fff;
  background: #085F63;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.22);
  padding: 16px;
  display: flex;
justify-content: center;
align-items: flex-start;
}

.write-icon {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.write-button p {
  margin-top: 7px;
  margin-right: 4px;
}
.content8-1{
  font-size: 18px;
  color: #000;
  margin: 6px 0 19px 19px;
}
.content8-2{
  color: #6C757D;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.16px;
  margin: 0 0 0 19px;
}
.cd-hr{
  background: #d9d9d9;
  height: 1px;
  border: none;
  width: 410px;
  display: flex;
}

.comment input[type="text"]{
  width: 330px; 
  height: 60px;
  padding: 12px 16px ;
  background: rgba(73, 190, 183, 0.16);
  border: 1px solid #49BEB7; 
  border-radius: 100px; 
  box-sizing: border-box; 
  margin-bottom: 10px;
  color: #999;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding-left: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.comment{
  display: flex;
  justify-content: space-between;
  margin: 20px 7px 20px 0;
}

.cir-img{
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

