body{
  background: #ffffff;
}
#logoo{
  width: 100px;
  height: 52.25px;

}
#round{
  border-radius: 40px;
  height: 75px;
  width: 75px ;
}
.profile{
  padding: 15.025px 15.025px 0px 15.025px;
  margin: 1px 35%;
  
}

.menu{
  justify-content: flex-end;
}
.box{
  box-sizing: border-box;
  text-align: left;
  width: 346px;
  height: 70px;
  padding: 25px;
  border-radius: 20px;
  background: #EBF6F7;
  font-size: 16px;
  margin: 15px auto;
  display: flex;
  align-items: center;
}

.logout-button{
  width: 136px;
  height: 40px;
  margin: 40px 32%;
  border-radius: 20px;
  background: #085F63;
  text-align: center;
  
}
.right-button{
  margin-left:auto;
}
.button-image{
  width: 20px;
  height: 20px;
  font-size: small ;
}
