body{
  background: #ffffff;
}

#round{
  border-radius: 30px;
  height: 75px;
  width: 75px ;
}
.profile{
  padding: 30px  0 0 15px;
  margin: 1px 35%;
  
}

.menu{
  justify-content: flex-end;
}
.box5{
  box-sizing: border-box;
  text-align: left;
  width: 340px;
  height: 70px;
  padding: 25px 10px 25px 25px;
  border-radius: 20px;
  background: #EBF6F7;
  font-size: 16px;
  font-weight: 400;
  margin: 15px auto;
  display: flex;
  align-items: center;

}
.box5 p{
  width: 360px;
}

.logout-button{
  width: 136px;
  height: 40px;
  margin: 44px 30%;
  border-radius: 20px;
  background: #085F63;
  text-align: center;
  border: none;
  color: #fff;
}

.button-image{
  width: 50px;
  height: 50px;
  margin: 30px 0 0 10px;
  
  
  

  
}
.puser{
  margin-bottom:70px;
  font-size:20px;
  text-align:center;
  margin-top: 15px;
}
